@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para la tipografía y colores */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #F8F8F0; /* Un color de fondo suave y cálido */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #228B22; /* Un verde oscuro y natural */
}

/* Clases de componentes personalizados si fuera necesario */